{% load designare_tags %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="pt-br">
        <title>{{ titulo_da_pagina }} Designare</title>
        {{ DESIGNARE_ASSETS_MANAGER.clearAll }}
        {{ DESIGNARE_ASSETS_MANAGER |registerBower:'bootstrap' }}
        {{ DESIGNARE_ASSETS_MANAGER |registerBower:'components-font-awesome' }}
        {% block css_links %}
            {{ DESIGNARE_ASSETS_MANAGER.getCssLinks | safe }}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/css/designare.css">
    </head>
    <body>
        <div class="hidden">
            <form name="designare">
                {% csrf_token %}
            </form>
        </div>
        {% block header %}
            {% include "assets/components/menu.html" %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <hr>
                    <p>
                        Designare - Versão 0.0.1
                    </p>                
                </div>            
            </div>
        </footer>
        {% block javascript_links %}
            {{ DESIGNARE_ASSETS_MANAGER.getJsLinks | safe }}
            <script src='/static/assets/js/designare.js'></script>
            <script src='/static/accounts/js/profile.js'></script>
        {% endblock %}
        <script type="text/javascript">
            {% block javascript_functions %}
            {% endblock %}
            $(document).ready(function(){
                $(function () {
                    $('[data-tooltip="tooltip"]').tooltip()
                })
            });
        </script>
    </body>
</html>