{% extends 'assets/esqueleto.html' %}

{% block body %}
<div class="container">
            
            <div class="row">
                <h1 align="center">Designare</h1>
            </div>
            <div class="row m-y-1">
                <h2 align="center">FAQ</h2>
            </div>
            <div class="row" align="center">
                <div class="m-x-auto m-y-2">
                    
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
        </div>
<div class="row m-t-3">
                <div class="col-md-3 offset-md-1">
<div class="">Bem vindo ao FAQ Designare</div>
</div>
</div>
<br />
<p>
<div class="row m-t-3">
                <div class="col-md-6 offset-md-1">
      <div class="card">
  <div class="card-header">
    <p>O que é o Designare?</p>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Designare é um gerenciador de metodologias projectuais dinamicas, pode ser usado em várias areas de conhecimento.</p>
     
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <p>Quem pode usar o Designare?</p>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Todos ao qual participam no projeto!</p>
     
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <p>O Designare é pago?</p>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Designare é gratuito, seja feliz!.</p>
     
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <p>Onde foi desenvolvido o Designare? Quero elogiar os desenvolvedores do Designare, onde vou?</p>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Designare  foi desenvolvido na disciplina de projeto de software II no curso de sistemas de informação, para elogiar e agradar os desenvolvedores vá para a página de contato e mande sua declaração! :D</p>
     
    </blockquote>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <p>Onde cadastro um projeto?</p>
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Na pagina do projeto, há um botão de adicionar :D</p>
     
    </blockquote>
  </div>
</div>
{% endblock %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <!-- Font Awesome -->    
    <script src="https://use.fontawesome.com/e53bda14a6.js"></script>

    <style type="text/css">
      body{
        background-color: #fffffd;
      }
      .unbordered{
        border-radius: 0px;
      }

      .btn-circle{
        border-radius: 50%;
      }
    </style>
    </head>
    <body>


