{% extends 'assets/esqueleto.html' %}

{% block body %}
<div class="container">            
    <div class="row">
        <div class="col">
            <div class="card card-body border-square">
                <h3 class="card-title">Projetos</h3>
                <p class="card-text">Mãos à obra: descreva seus projetos, selecione a metodologia adequada e execute as atividades utilizando os recursos da sua preferência!</p>
                <a href="/projetos/" class="btn btn-primary border-square">Bora lá</a>
            </div>
        </div>
        <div class="col">
            <div class="col card card-body border-square">
                <h3 class="card-title">Metodologias</h3>
                <p class="card-text">Comece por aqui: construa suas metodologias para aplicá-las em projetos depois!</p><br>
                <a href="/metodologias" class="btn btn-primary border-square">Bora lá</a>
            </div>
        </div>        
    </div>
</div>
{% endblock %}