{% extends 'assets/esqueleto.html' %}

{% block body %}
<div class="container">
            
            <div class="row">
                <h1 align="center">Designare</h1>
            </div>
            <div class="row my-1">
                <h2 align="center">Bem vindo!</h2>
            </div>
            <div class="row" align="center">
                
            </div>
            <div class="row">
                <hr>
            </div>
        </div>
        
        <div class="container">
            
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block border-square">
      <h3 class="card-title">Projetos</h3>
      <p class="card-text">Mãos à obra: descreva seus projetos, selecione a metodologia adequada e execute as atividades utilizando os recursos da sua preferência!</p>
      <a href="/projetos/" class="btn btn-primary border-square">Bora lá</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block border-square">
      <h3 class="card-title">Metodologias</h3>
      <p class="card-text">Comece por aqui: construa suas metodologias para aplicá-las em projetos depois!</p><br>
      <a href="/metodologias" class="btn btn-primary border-square">Bora lá</a>
    </div>
  </div>
</div>
                 

        </div>
{% endblock %}
<html><head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <!-- Font Awesome -->    
    <script src="https://use.fontawesome.com/e53bda14a6.js"></script>

    <style type="text/css">
      body{
        background-color: #fffffd;
      }
      .unbordered{
        border-radius: 0px;
      }

      .btn-circle{
        border-radius: 50%;
      }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-1 offset-md-11">
                    <button class="btn btn-secondary unbordered">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <h1 align="center">Designare</h1>
            </div>
            <div class="row my-1">
                <h2 align="center">Bem vindo!</h2>
            </div>
            <div class="row" align="center">
                
            </div>
            <div class="row">
                <hr>
            </div>
        </div>
        
        <div class="container">
            
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Projetos</h3>
      <p class="card-text">Aqui vai a descrição dos projetos, e um texto que voce lê e é pra encher linguiça</p>
      <a href="/projetos/" class="btn btn-primary">Bora lá</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Metodologias</h3>
      <p class="card-text">Aqui vai a descrição das metodologias, e um texto que voce lê e é pra encher linguiça</p>
      <a href="/metodologias" class="btn btn-primary">Bora lá</a>
    </div>
  </div>
</div>
                 

        </div>

        
        <div class="container">
            <div class="row">
                <hr>
                <p>
                    Designare - Versão 0.0.1
                </p>                
            </div>            
        </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script type"text="" javascript"="">
            $(document).ready(function(){
                $(function () {
                  $('[data-tooltip="tooltip"]').tooltip()
                })
            });
        </script>
  
</body></html>