<div class="card" id="card-galeria-imagem-{{ imagem.pk }}">
    <img src="/static/img/projetos/galeria/" class="card-img img-fluid" id="galeria-imagem-{{ imagem.pk }}">
    <div class="card-img-overlay">
        <div class="float-md-right">
            <button 
                class="btn btn-secondary btn-sm border-square" id="btn-info-galeria-imagem-{{ imagem.pk }}" 
                data-tooltip="tooltip" data-placement="top" title="Detalhes"
                onclick='GaleriaInfoImagem("{{ projeto.pk }}");' 
            >
                <i class="fa fa-info-circle "></i>
            </button>
        </div>
    </div>    
</div>