<div class="card border-square unbordered" id="card-galeria-imagem-{{ imagem.pk }}" align="center">
    <a 
        href="/{{ imagem.foto }}"
        class="" 
        data-toggle="lightbox" 
        data-gallery="lightbox-galeria-{{ imagem.galeria.pk }}"
        data-title="Galeria - Visualização de imagem"
        rel="lightbox[lightbox-galeria-{{ imagem.galeria.pk }}]"
        id="galeria-imagem-{{ imagem.pk }}"
    >
        <img 
            src="/{{ imagem.foto }}" 
            class="card-img img-fluid border-square unbordered background-transparent shadow-on-hover" 

        >
    </a>
</div>