<div class="modal fade" id="modal-galeria-visualiza">
    <div class="modal-dialog modal-lg" id="modal-info">
        <div class="modal-content border-square p-0" id="modal-info-conteudo">
            <div class="modal-body p-0">
                <div class="row p-0">
                    <div class="col-md-12 p-0">
                        <div class="card m-0 border-square unbordered background-color-black p-0" align="center">
                            <img 
                                src="" id="modal-galeria-visualiza-imagem" 
                                class="card-img img-fluid border-square p-0 m-0"
                            >
                            <div class="card-img-overlay">
                                <button 
                                    class="btn btn-sm btn-secondary border-square float-md-right" 
                                    data-dismiss="modal"
                                    data-tooltip="tooltip" data-placement="top" title="Fechar" 
                                >
                                    <i class="fa fa-times"></i>
                                </button>                                
                            </div>
                        </div>
                    </div>                                    
                </div>
            </div>
        </div>
    </div>
</div>