<div class="modal fade" id="modal-galeria" data-backdrop="static">
    <div class="modal-dialog" id="modal-info">
        <div class="modal-content border-square" id="modal-info-conteudo">
            <div class="modal-header">
                <h4>Adicionar imagem:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        
                    </div>                                    
                </div>
            </div>
            <div class="modal-footer">
                <button 
                    class="btn btn-info float-md-left border-square" 
                    data-dismiss="modal"
                >
                    <i class="fa fa-times"></i>&nbsp;Fechar
                </button>
                <button 
                    class="btn btn-success border-square" 
                    id="btn-info-excluir" 
                >
                    <i class="fa fa-upload"></i>&nbsp;Adicionar
                </button>
            </div>
        </div>
    </div>
</div>