<div class="collapse in" id="collapse-etapa-{{ etapa.pk }}">
    <a id='etapa_{{ etapa.id }}'></a>
    <div class='row'>
        <div class='row'>
            <div class='card card-outline-secondary border-square'>
                <div class='card-block collapse in' id="card-etapa-info-{{ etapa.pk }}">
                    <h3 class='card-title'>
                        <span id="etapa-nome-{{etapa.pk}}">{{ etapa.nome }}</span>
                        <button 
                            class='btn btn-secondary border-square' id='btn-edit-etapa-{{ etapa.pk }}'
                            data-tooltip='tooltip' data-placement='top'
                            title='Editar etapa'
                            onclick='EditarEtapa("{{ etapa.pk }}");' 
                        >
                            <i class='fa fa-pencil'></i>
                        </button>
                        <button 
                            class='btn btn-danger border-square' id='btn-excluir-etapa-{{ etapa.pk }}'
                            data-tooltip='tooltip' data-placement='top'
                            title='Excluir etapa'
                            onclick='ConfirmarExcluirEtapa("{{ etapa.pk }}","{{ etapa.nome }}");' 
                        >
                            <i class='fa fa-times'></i>
                        </button>
                    </h3>
                    <blockquote class='card-blockquote'>
                        {%if etapa.descricao %}
                            <div id="etapa-descricao-{{ etapa.pk }}">{{ etapa.descricao | safe }}</div>
                        {% else %}
                            <div id="etapa-descricao-{{ etapa.pk }}"><i>Nenhuma descrição fornecida para esta etapa!</i></div>
                        {% endif %}
                    </blockquote>
                </div>
                <div class='card-block collapse' id="card-etapa-editar-{{ etapa.pk }}">
                    <div class="col-md-12">
                        <h4 class="mt-1">Editar etapa:</h4>
                        <form id="form-etapa-{{ etapa.pk }}" name="form_etapa_{{ etapa.pk }}">
                            <fieldset id="fieldset-editar-etapa-{{ etapa.pk }}">
                                {% csrf_token %}
                                <div class="form-group mr-1" id="div-input-etapa-nome-{{ etapa.pk }}">
                                    <label>
                                        <b>Nome</b>&nbsp;
                                        <i
                                            class="fa fa-asterisk"  data-tooltip="tooltip" data-placement="top"
                                            title="Este campo é obrigatório!"
                                        ></i>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon border-square">
                                            <i class="fa fa-tag"></i>
                                        </span>
                                        <input name="nome" 
                                            type="text"
                                            class="form-control border-square"
                                            placeholder="Nome da Etapa"
                                            id="input-etapa-nome-{{ etapa.pk }}" 
                                        >
                                    </div>
                                    <div class="form-control-feedback" id="div-etapa-nome-feedback-{{ etapa.pk }}"></div>
                                </div>
                                <label><b>Descrição</b></label>
                                <div>
                                    <div 
                                        class="btn-toolbar" 
                                        data-role="input-etapa-descricao-{{ etapa.pk }}-toolbar" 
                                        data-target="#input-etapa-descricao-{{ etapa.pk }}"
                                        id="input-etapa-descricao-{{ etapa.pk }}-toolbar" 
                                    >
                                        <div class="btn-group mb-1">
                                            <a class="btn btn-secondary dropdown-toggle border-square" data-toggle="dropdown" title="Font Size">
                                                <i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                            <ul class="dropdown-menu border-square">
                                                <li>
                                                    <a data-edit="fontSize 5">
                                                        <font size="5">Huge</font>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-edit="fontSize 3">
                                                        <font size="3">Normal</font>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-edit="fontSize 1">
                                                        <font size="1">Small</font>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group mb-1">
                                            <a class="btn btn-secondary border-square" data-edit="bold" title="Bold (Ctrl/Cmd+B)">
                                                <i class="fa fa-bold"></i>
                                            </a>
                                            <a class="btn btn-secondary" data-edit="italic" title="Italic (Ctrl/Cmd+I)">
                                                <i class="fa fa-italic"></i>
                                            </a>
                                            <a class="btn btn-secondary" data-edit="strikethrough" title="Strikethrough">
                                                <i class="fa fa-strikethrough"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="underline" title="Underline (Ctrl/Cmd+U)">
                                                <i class="fa fa-underline"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group mb-1">
                                            <a class="btn btn-secondary border-square" data-edit="insertunorderedlist" title="Bullet list">
                                                <i class="fa fa-list-ul"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="insertorderedlist" title="Number list">
                                                <i class="fa fa-list-ol"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="outdent" title="Reduce indent (Shift+Tab)">
                                                <i class="fa fa-outdent"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="indent" title="Indent (Tab)">
                                                <i class="fa fa-indent"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group mb-1">
                                            <a class="btn btn-secondary border-square" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)">
                                                <i class="fa fa-align-left"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)">
                                                <i class="fa fa-align-center"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)">
                                                <i class="fa fa-align-right"></i>
                                            </a>
                                            <a class="btn btn-secondary border-square" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)">
                                                <i class="fa fa-align-justify"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group mb-1">
                                            <a class="btn btn-secondary border-square dropdown-toggle" data-toggle="dropdown" title="Hyperlink">
                                                <i class="fa fa-link"></i>
                                            </a>
                                            <div class="dropdown-menu input-append p-1 m-0 border-square">
                                                <input class="border-square mb-1" placeholder="URL" type="text" data-edit="createLink"/>
                                                <button class="btn btn-secondary border-square" type="button">Adicionar</button>
                                            </div>
                                            <a class="btn btn-secondary border-square" data-edit="unlink" title="Remover Hyperlink">
                                                <i class="fa fa-cut"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group mb-1">
                                            <a class="btn btn-secondary border-square" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">
                                                <i class="fa fa-undo"></i></a>
                                            <a class="btn btn-secondary border-square" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">
                                                <i class="fa fa-repeat"></i></a>
                                        </div>
                                    </div>
                                    <div 
                                        id="input-etapa-descricao-{{ etapa.pk }}" 
                                        data-toggle="bootstrap-wysiwyg" 
                                        class="border-square mr-1 designare-editor"
                                    >
                                </div>
                                <p class="form-text text-muted">
                                    Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada etapa ou facilitar o aprendizado de novos membros. 
                                </p>
                                <br>
                                <div align="center">
                                    <button 
                                        type="button" class="btn btn-danger border-square" 
                                        id="btn-cancelar-etapa-{{ etapa.pk }}"
                                        onclick='CancelarEditarEtapa("{{ etapa.pk }}");' 
                                    >
                                        Cancelar
                                    </button>
                                    <button 
                                        type="button" class="btn btn-success border-square" 
                                        id="btn-nova-etapa-{{ etapa.pk }}"
                                        onclick='EnviarEditarEtapa("{{ etapa.pk }}");'
                                    >
                                        Atualizar
                                    </button>
                                </div>
                            </fieldset>                                
                        </form>
                    </div>
                </div>
                <div class='card-block collapse' id="card-atividade-editar-{{ etapa.pk }}">
                    <div class="col-md-6 offset-md-3">
                        <h4 class="mt-1">Editar atividade:</h4>
                        <form id="form-atividade-{{ etapa.pk }}" name="form_atividade_{{ etapa.pk }}">
                            <fieldset id="fieldset-editar-atividade-{{ etapa.pk }}">
                                {% csrf_token %}
                                <div class="form-group" id="div-input-atividade-nome-{{ etapa.pk }}">
                                    <label>
                                        <b>Nome</b>&nbsp;
                                        <i
                                            class="fa fa-asterisk"  data-tooltip="tooltip" data-placement="top"
                                            title="Este campo é obrigatório!"
                                        ></i>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon border-square">
                                            <i class="fa fa-tag"></i>
                                        </span>
                                        <input name="nome" 
                                            type="text"
                                            class="form-control border-square"
                                            placeholder="Nome da Atividade"
                                            id="input-atividade-nome-{{ etapa.pk }}" 
                                        >
                                    </div>
                                    <div class="form-control-feedback" id="div-atividade-nome-feedback-{{ etapa.pk }}"></div>
                                </div>
                                <label><b>Descrição</b></label>
                                <div class="input-group">
                                    <span class="input-group-addon border-square">
                                        <i class="fa fa-info"></i>
                                    </span>
                                    <textarea name="descricao" 
                                        class="form-control border-square"
                                        placeholder="Descrição da Atividade"
                                        rows="5" maxlength="300"
                                        id="input-atividade-descricao-{{ etapa.pk }}"
                                    ></textarea>
                                </div>
                                <p class="form-text text-muted">
                                    Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada atividade ou facilitar o aprendizado de novos membros. 
                                </p>
                                <br>
                                <div align="center">
                                    <button 
                                        type="button" class="btn btn-danger border-square" 
                                        id="btn-cancelar-atividade-{{ etapa.pk }}"
                                        onclick='CancelarEditarAtividade("{{ etapa.pk }}");' 
                                    >
                                        Cancelar
                                    </button>
                                    <button 
                                        type="button" class="btn btn-success border-square" 
                                        id="btn-atualizar-atividade-{{ etapa.pk }}"
                                        onclick='EnviarEditarAtividade("{{ etapa.pk }}");'
                                    >
                                        Atualizar
                                    </button>
                                </div>
                            </fieldset>                                
                        </form>
                    </div>
                </div>
                <hr>
                <div id='div-listagem-atividades{{ etapa.pk }}' class="collapse in">
                    {% if etapa.atividades.all %}
                        {% for atividade in etapa.atividades.all %}
                            {% include "metodologias/atividade.html" with atividade=atividade %}
                        {% endfor %}
                        <div class='row collapse' id='row-nenhuma-etapa-aviso-{{ etapa.pk }}'>
                    {% else %}
                        <div class='row collapse in' id='row-nenhuma-etapa-aviso-{{ etapa.pk }}'>
                    {% endif %}    
                            <div class='col-md-11 offset-md-1'>
                                <div class='card unbordered'>
                                    <div class='card-block'>
                                        <blockquote class='card-blockquote'>
                                            <i>
                                                Nenhuma atividade cadastrada para esta etapa.
                                                Utilize o botão abaixo para cadastrar uma!
                                            </i>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class='row ml-0 collapse in' id='row-btn-nova-atividade{{ etapa.pk }}'>
                        <div class='col-md-5 offset-md-1 my-1'>
                           <h3 class=''>
                                <button 
                                    class='btn btn-secondary border-square' id='btn-edit-etapa'
                                    data-tooltip='tooltip' data-placement='top'
                                    title='Adicionar nova atividade'
                                    data-toggle='collapse' data-target='#CadastrarAtividade{{ etapa.pk }}'
                                    aria-expanded='false' aria-controls='CadastrarAtividade{{ etapa.pk }}'
                                    onclick='EsconderBtnNovaAtividade("{{ etapa.pk }}");' 
                                >
                                    Adicionar Atividade <i class='fa fa-plus'></i>
                                </button>
                           </h3>
                        </div>
                    </div>
                    <div class='row collapse mb-1' id='CadastrarAtividade{{ etapa.pk }}'>
                        <div class='col-md-6 offset-md-3'>
                            <h4 class='mt-1'>Adicionar nova atividade:</h4>
                            <form id='form-nova-atividade{{ etapa.pk }}' name='form_nova_atividade{{ etapa.pk }}'>
                                <fieldset id='fieldset-nova-atividade{{ etapa.pk }}'>
                                    {% csrf_token %}
                                    <div class='form-group' id='div-input-atividade-nome{{ etapa.pk }}'>
                                        <label>
                                            <b>Nome</b>&nbsp;
                                            <i
                                                class='fa fa-asterisk'  data-tooltip='tooltip' 
                                                data-placement='top'
                                                title='Este campo é obrigatório!'
                                            ></i>
                                        </label>
                                        <div class='input-group'>
                                            <span class='input-group-addon border-square'>
                                                <i class='fa fa-tag'></i>
                                            </span>
                                            <input name='nome' 
                                                type='text'
                                                class='form-control border-square'
                                                placeholder='Nome da atividade'
                                                id='input-atividade-nome{{ etapa.pk }}' 
                                            >
                                        </div>
                                        <div 
                                            class='form-control-feedback' 
                                            id='div-atividade-{{etapa.pk }}-nome-feedback'
                                        ></div>
                                    </div>
                                    <label><b>Descrição</b></label>
                                    <div class='input-group'>
                                        <span class='input-group-addon border-square'>
                                            <i class='fa fa-info'></i>
                                        </span>
                                        <textarea name='descricao' 
                                            class='form-control border-square'
                                            placeholder='Descrição da Atividade'
                                            rows='5' maxlength='300'
                                            id='input-atividade-descricao{{ etapa.pk }}'
                                        ></textarea>
                                    </div>
                                    <p class='form-text text-muted'>
                                        Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada atividade ou facilitar o aprendizado de novos membros. 
                                    </p>
                                    <br>
                                    <div align='center'>
                                        <button 
                                            type='button' class='btn btn-danger border-square' 
                                            id='btn-cancelar-atividade{{ etapa.pk }}'
                                            onclick='CancelarCadastrarAtividade("{{ etapa.pk}}")' 
                                        >
                                            Cancelar
                                        </button>
                                        <button 
                                            type='button' class='btn btn-success border-square' 
                                            id='btn-nova-atividade{{ etapa.pk }}'
                                            onclick='CadastrarAtividade("{{ etapa.pk}}")' 
                                        >
                                            Cadastrar Atividade
                                        </button>
                                    </div>
                                </fieldset>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row my-2'></div>
</div>
