<a id='etapa_{{ etapa.id }}'></a>
<div class='row'>
    <div class='row'>
        <div class='card card-outline-secondary border-square'>
            <div class='card-block'>
                <h3 class='card-title'>
                    <span>{{ etapa.nome }}</span>
                    <button 
                        class='btn btn-secondary border-square' id='btn-edit-etapa'
                        data-tooltip='tooltip' data-placement='top'
                        title='Editar etapa'
                    >
                        <i class='fa fa-pencil'></i>
                    </button>
                </h3>
                <blockquote class='card-blockquote'>
                    {%if etapa.descricao %}
                        <p>{{ etapa.descricao }}</p>
                    {% else %}
                        <p><i>Nenhuma descrição fornecida para esta etapa!</i></p>
                    {% endif %}
                </blockquote>
            </div>
            <hr>
            <div id='div-listagem-atividades{{ etapa.pk }}'>
            {% if etapa.atividades.all %}
                {% for atividade in etapa.atividades.all %}
                    {% include "metodologias/atividade.html" with atividade=atividade %}
                {% endfor %}
            {% else %}
            <div class='row' id='row-nenhuma-etapa-aviso-{{ etapa.pk }}'>
                <div class='col-md-11 offset-md-1'>
                    <div class='card unbordered'>
                        <div class='card-block'>
                            <blockquote class='card-blockquote'>
                                <i>
                                    Nenhuma atividade cadastrada para esta etapa.
                                    Utilize o botão abaixo para cadastrar uma!
                                </i>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class='row ml-0' id='row-btn-nova-atividade{{ etapa.pk }}'>
                <div class='col-md-5 offset-md-1 my-1'>
                   <h3 class=''>
                        <button 
                            class='btn btn-secondary border-square' id='btn-edit-etapa'
                            data-tooltip='tooltip' data-placement='top'
                            title='Adicionar nova atividade'
                            data-toggle='collapse' data-target='#CadastrarAtividade{{ etapa.pk }}'
                            aria-expanded='false' aria-controls='CadastrarAtividade{{ etapa.pk }}'
                        >
                            Adicionar Atividade <i class='fa fa-plus'></i>
                        </button>
                   </h3>
                </div>
            </div>
            <div class='row collapse mb-1' id='CadastrarAtividade{{ etapa.pk }}'>
                <div class='col-md-6 offset-md-3'>
                    <h4 class='mt-1'>Adicionar nova atividade:</h4>
                    <form id='form-nova-atividade{{ etapa.pk }}' name='form_nova_atividade{{ etapa.pk }}'>
                        <fieldset id='fieldset-nova-atividade{{ etapa.pk }}'>
                            {% csrf_token %}
                            <div class='form-group' id='div-input-atividade-nome{{ etapa.pk }}'>
                                <label>
                                    <b>Nome</b>&nbsp;
                                    <i
                                        class='fa fa-asterisk'  data-tooltip='tooltip' 
                                        data-placement='top'
                                        title='Este campo é obrigatório!'
                                    ></i>
                                </label>
                                <div class='input-group'>
                                    <span class='input-group-addon border-square'>
                                        <i class='fa fa-tag'></i>
                                    </span>
                                    <input name='nome' 
                                        type='text'
                                        class='form-control border-square'
                                        placeholder='Nome da atividade'
                                        id='input-atividade-nome{{ etapa.pk }}' 
                                    >
                                </div>
                                <div 
                                    class='form-control-feedback' 
                                    id='div-atividade-{{etapa.pk }}-nome-feedback'
                                ></div>
                            </div>
                            <label><b>Descrição</b></label>
                            <div class='input-group'>
                                <span class='input-group-addon border-square'>
                                    <i class='fa fa-info'></i>
                                </span>
                                <textarea name='descricao' 
                                    class='form-control border-square'
                                    placeholder='Descrição da Atividade'
                                    rows='5' maxlength='300'
                                    id='input-atividade-descricao{{ etapa.pk }}'
                                ></textarea>
                            </div>
                            <p class='form-text text-muted'>
                                Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada atividade ou facilitar o aprendizado de novos membros. 
                            </p>
                            <br>
                            <div align='center'>
                                <div class='btn-group' role='group'>
                                    <button 
                                        type='button' class='btn btn-secondary border-square' 
                                        id='btn-nova-atividade{{ etapa.pk }}'
                                        onclick='CadastrarAtividade("{{ etapa.pk}}")' 
                                    >
                                        Cadastrar Atividade
                                    </button>
                                </div>
                            </div>
                        </fieldset>                                
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class='row my-2'></div>