{% extends 'designare/esqueleto.html' %}
{% block body %}
<!DOCTYPE html>
    <div class="container">
        <div class="row m-y-1">
            <h2 align="center">{{ titulo_da_pagina }}</h2>
        </div>
        <div class="row m-y-2" align="center">
            <a 
                class="btn btn-secondary btn-circle" 
                id="btn-novo-projeto"
                href="/metodologias/nova/"
                data-tooltip="tooltip" data-placement="top" title="Adicionar Nova Metodologia"
            >
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>
    {% block content %}
            <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <ul class="list-group">
                        {% if metodologias %}
                            {% for metodologia in metodologias %}
                                <li class="list-group-item">
                                    <a href="{% url 'metodologias:detalhes' metodologia.pk %}" class="btn btn-link">{{ metodologia.nome }}</a>
                                    <div class="btn-group pull-md-right">
                                        <a 
                                            href="" class="btn btn-secondary"
                                            data-tooltip="tooltip" data-placement="top" title="Editar"
                                        >
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a 
                                            href="{% url 'metodologias:excluir_metodologia' metodologia.pk %}" class="btn btn-danger"
                                            data-tooltip="tooltip" data-placement="top" title="Excluir"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item list-group-item-action list-group-item-info">
                                <h5 class="list-group-item-heading">Nenhuma metodologia cadastrada ainda!</h5>
                                <p class="list-group-item-text"><i>Clique no botão acima para cadastrar uma nova!</i></p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

                 

        </div>
    {% endblock %}
{% endblock %}