{% extends 'assets/esqueleto.html' %}
{% block header %}
    {% include "metodologias/menu.html" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row my-1">
        <h2 align="center">{{ titulo_da_pagina }}</h2>
    </div>
    <div class="row my-2 {% if metodologia %} hidden {% endif %}" align="center" id="div-form-metodologia">
        <div class="col-md-6 offset-md-3">
            <form class="form-inline" id="form-metodologia" name="form_metodologia">
                {% csrf_token %}
                <input 
                    type="hidden" name="metodologia-id" id="input-metodologia-id" 
                    {% if metodologia %}
                        value="{{ metodologia.id }}"
                    {% endif %}
                />
                <div class="form-group" id="div-input-metodologia-nome">
                    <label class="" for="input-metodologia-nome">
                        <b>Nome:</b>&nbsp;
                    </label>
                    <input name="nome" 
                        type="text"
                        class="form-control border-square"
                        placeholder="Nome da Metodologia"
                        id="input-metodologia-nome"
                        data-tooltip="tooltip" data-placement="top"
                        title="Forneça um nome para a Metodologia!"
                        {% if metodologia %}
                            value="{{ metodologia.nome }}"
                        {% endif %}
                    >
                    <button class="btn btn-danger border-square" id="btn-cancela-metodologia">
                        <i class="fa fa-times"></i>
                    </button>
                    <button class="btn btn-success border-square" id="btn-nova-metodologia">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div
        {% if metodologia %}
            class="row my-1"                    
        {% else %}
            class="row my-1 hidden" 
        {% endif %} 
        id="div-metodologia-nome"
    >
            <h2 align="center">
                <span id="metodologia-nome">
                    {% if metodologia %}
                        {{ metodologia.nome }}
                    {% endif %}
                </span>
                <button 
                    class="btn btn-secondary border-square" id="btn-edit-metodologia"
                    data-tooltip="tooltip" data-placement="top"
                    title="Editar nome"
                >
                    <i class="fa fa-pencil"></i>
                </button>
            </h2>
        </div>
    <div class="row">
        <hr>
    </div>
</div>
<div class="container">
    <div class="row hidden" id="div-row-info">
        <div class="col-md-6 offset-md-3">
            <div class="card card-block card-outline-info border-square">
                <h4>Cadastro de metodologia</h4>
                <p class="card-text">
                    Utilize o formulário acima para fornecer um nome (título) para identificar a nova metodologia!
                </p>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="modal-excluir-etapa" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content border-square" id="modal-excluir-etapa-conteudo">
                    <div class="modal-header">
                        <h4>Confirmar exclusão de metodologia:</h4>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir a etapa <b id="modal-excluir-etapa-nome"></b>?
                    </div>
                    <div class="modal-footer">
                        <form>
                            <fieldset id="fieldset-excluir-etapa-footer">
                                <button 
                                    class="btn btn-info float-md-left border-square" 
                                    data-dismiss="modal" id="btn-cancelar-exclusao"
                                >
                                    <i class="fa fa-ban"></i>&nbsp;Cancelar
                                </button>
                                <button class="btn btn-danger border-square" id="btn-excluir-etapa">
                                    <i class="fa fa-times"></i>&nbsp;Excluir
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>                    
        </div>
        <div class="modal fade" id="modal-excluir-atividade" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content border-square" id="modal-excluir-atividade-conteudo">
                    <div class="modal-header">
                        <h4>Confirmar exclusão de metodologia:</h4>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir a atividade <b id="modal-excluir-atividade-nome"></b>?
                    </div>
                    <div class="modal-footer">
                        <form>
                            <fieldset id="fieldset-excluir-atividade-footer">
                                <button 
                                    class="btn btn-info float-md-left border-square" 
                                    data-dismiss="modal" id="btn-cancelar-exclusao"
                                >
                                    <i class="fa fa-ban"></i>&nbsp;Cancelar
                                </button>
                                <button class="btn btn-danger border-square" id="btn-excluir-atividade">
                                    <i class="fa fa-times"></i>&nbsp;Excluir
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
    <div class="row" id="div-row-etapas">
        <div class="col-md-3" >
            <div class="list-group" id="div-menu-etapas" style="position: fixed;">
                <!-- Inserir links de etapas aqui -->
                {% if metodologia.etapas.all %}
                    {% for etapa in metodologia.etapas.all %}
                        <a
                            href="#etapa_{{ etapa.id }}" id="li-menu-etapa-{{ etapa.id }}"
                            class="list-group-item list-group-item-action collapse show border-square"
                        >
                            {{ etapa.nome }}
                        </a>
                    {% endfor %}
                {% endif%}
                <a 
                    class="list-group-item list-group-item-action border-square" id="li-menu-adicionar-etapa"
                    href="#CadastrarEtapa"
                >
                    <i class="fa fa-plus"></i>&nbsp;Adicionar nova etapa
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-11 offset-md-1" id="div-listagem-etapas">
                    <!-- Inserir etapas aqui -->
                    {% if metodologia.etapas.all %}
                        {% for etapa in metodologia.etapas.all %}
                            {% include "metodologias/etapa.html" with etapa=etapa %}
                        {% endfor %}
                    {% endif%}
                </div>

            </div>
            <a id="CadastrarEtapa"></a>
            <div class="row my-2" id="div-row-nova-etapa">
                <div class="col-md-11">
                    <div class="row collapse" id="collapse-cadastrar-etapa">
                        <div class="col-md-11 offset-md-1">
                            <h4 class="mt-3">Adicionar nova etapa:</h4>
                            <form id="form-etapa" name="form_etapa">
                                <fieldset id="fieldset-nova-etapa">
                                    {% csrf_token %}
                                    <div class="form-group mr-3" id="div-input-etapa-nome">
                                        <label>
                                            <b>Nome</b>&nbsp;
                                            <i
                                                class="fa fa-asterisk"  data-tooltip="tooltip" data-placement="top"
                                                title="Este campo é obrigatório!"
                                            ></i>
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon border-square">
                                                <i class="fa fa-tag"></i>
                                            </span>
                                            <input name="nome" 
                                                type="text"
                                                class="form-control border-square"
                                                placeholder="Nome da Etapa"
                                                id="input-etapa-nome" 
                                            >
                                        </div>
                                        <div class="form-control-feedback" id="div-etapa-nome-feedback"></div>
                                    </div>
                                    <label><b>Descrição</b></label>
                                    <div>
                                        {% include "assets/components/editor-wysiwyg.html" with editor_id="input-etapa-descricao" %}
                                    </div>
                                    <p class="form-text text-muted">
                                        Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada etapa ou facilitar o aprendizado de novos membros. 
                                    </p>
                                    <br>
                                    <div align="center">
                                        <button type="button" class="btn btn-danger border-square" id="btn-cancelar-etapa">
                                            cancelar
                                        </button>
                                        <button type="button" class="btn btn-success border-square" id="btn-nova-etapa">
                                            Cadastrar Etapa
                                        </button>
                                    </div>
                                </fieldset>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
{% block javascript_links %}
    {{ DESIGNARE_ASSETS_MANAGER.getJsLinks | safe }}
    <script src="/static/metodologias/js/metodologia.js"></script>
{% endblock %}
{% block javascript_functions %}
    AtivaEditores();
{% endblock %}
