{% extends 'designare/esqueleto.html' %}
{% block body %}
<div class="container">
    <div class="row my-1">
        <h2 align="center">{{ titulo_da_pagina }}</h2>
    </div>
    <div class="row my-2 {% if metodologia %} hidden {% endif %}" align="center" id="div-form-metodologia">
        <div class="col-md-6 offset-md-3">
            <form class="form-inline" id="form-metodologia" name="form_metodologia">
                {% csrf_token %}
                <input 
                    type="hidden" name="metodologia-id" id="input-metodologia-id" 
                    {% if metodologia %}
                        value="{{ metodologia.id }}"
                    {% endif %}
                />
                <div class="form-group" id="div-input-metodologia-nome">
                    <label class="" for="input-metodologia-nome">
                        <b>Nome:</b>&nbsp;
                    </label>
                    <input name="nome" 
                        type="text"
                        class="form-control border-square"
                        placeholder="Nome da Metodologia"
                        id="input-metodologia-nome"
                        data-tooltip="tooltip" data-placement="top"
                        title="Forneça um nome para a Metodologia!"
                        {% if metodologia %}
                            value="{{ metodologia.nome }}"
                        {% endif %}
                    >
                    <button class="btn btn-danger border-square" id="btn-cancela-metodologia">
                        <i class="fa fa-times"></i>
                    </button>
                    <button class="btn btn-success border-square" id="btn-nova-metodologia">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div
        {% if metodologia %}
            class="row my-1"                    
        {% else %}
            class="row my-1 hidden" 
        {% endif %} 
        id="div-metodologia-nome"
    >
            <h2 align="center">
                <span id="metodologia-nome">
                    {% if metodologia %}
                        {{ metodologia.nome }}
                    {% endif %}
                </span>
                <button 
                    class="btn btn-secondary border-square" id="btn-edit-metodologia"
                    data-tooltip="tooltip" data-placement="top"
                    title="Editar nome"
                >
                    <i class="fa fa-pencil"></i>
                </button>
            </h2>
        </div>
    <div class="row">
        <hr>
    </div>
</div>
<div class="container">
    <div class="row hidden" id="div-row-info">
        <div class="col-md-6 offset-md-3">
            <div class="card card-block card-outline-info">
                <h4>Cadastro de metodologia</h4>
                <p class="card-text">
                    Utilize o formulário acima para fornecer um nome (título) para identificar a nova metodologia!
                </p>                
            </div>
        </div>
    </div>
    <div class="row" id="div-row-etapas">
        <div class="col-md-3" style="position: relative;">
            <div class="list-group" id="div-menu-etapas" style="position: fixed;">
                <!-- Inserir links de etapas aqui -->
                {% if metodologia.etapas.all %}
                    {% for etapa in metodologia.etapas.all %}
                        <a
                            href="#etapa_{{ etapa.id }}" id="li-menu-etapa-{{ etapa.id }}"
                            class="list-group-item list-group-item-action"
                        >
                            {{ etapa.nome }}
                        </a>
                    {% endfor %}
                {% endif%}
                <a 
                    class="list-group-item list-group-item-action" id="li-menu-adicionar-etapa"
                    href="#CadastrarEtapa"
                >
                    <i class="fa fa-plus"></i>&nbsp;Adicionar nova etapa
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-11 offset-md-1" id="div-listagem-etapas">
                    <!-- Inserir etapas aqui -->
                    {% if metodologia.etapas.all %}
                        {% for etapa in metodologia.etapas.all %}
                            {% include "metodologias/etapa.html" with etapa=etapa %}
                        {% endfor %}
                    {% endif%}
                </div>

            </div>
            <a id="CadastrarEtapa"></a>
            <div class="row my-2" id="div-row-nova-etapa">
                <div class="col-md-11">
                    <div class="row collapse" id="collapse-cadastrar-etapa">
                        <div class="col-md-6 offset-md-3">
                            <h4 class="mt-1">Adicionar nova etapa:</h4>
                            <form id="form-etapa" name="form_etapa">
                                <fieldset id="fieldset-nova-etapa">
                                    {% csrf_token %}
                                    <div class="form-group" id="div-input-etapa-nome">
                                        <label>
                                            <b>Nome</b>&nbsp;
                                            <i
                                                class="fa fa-asterisk"  data-tooltip="tooltip" data-placement="top"
                                                title="Este campo é obrigatório!"
                                            ></i>
                                        </label>
                                        <div class="input-group">
                                            <span class="input-group-addon border-square">
                                                <i class="fa fa-tag"></i>
                                            </span>
                                            <input name="nome" 
                                                type="text"
                                                class="form-control border-square"
                                                placeholder="Nome da Etapa"
                                                id="input-etapa-nome" 
                                            >
                                        </div>
                                        <div class="form-control-feedback" id="div-etapa-nome-feedback"></div>
                                    </div>
                                    <label><b>Descrição</b></label>
                                    <div class="input-group">
                                        <span class="input-group-addon border-square">
                                            <i class="fa fa-info"></i>
                                        </span>
                                        <textarea name="descricao" 
                                            class="form-control border-square"
                                            placeholder="Descrição da Etapa"
                                            rows="5" maxlength="300"
                                            id="input-etapa-descricao"
                                        ></textarea>
                                    </div>
                                    <p class="form-text text-muted">
                                        Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada etapa ou facilitar o aprendizado de novos membros. 
                                    </p>
                                    <br>
                                    <div align="center">
                                        <button type="button" class="btn btn-danger border-square" id="btn-cancelar-etapa">
                                            cancelar
                                        </button>
                                        <button type="button" class="btn btn-success border-square" id="btn-nova-etapa">
                                            Cadastrar Etapa
                                        </button>
                                    </div>
                                </fieldset>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}
{% block javascript_functions %}
$(document).ready(function(){
    /* Verifica se metodologia tem nome definido */
    if($("#div-metodologia-nome").hasClass("hidden")){
        /* Se metodologia não tem nome definido (não existe)*/
        $("#div-row-info").toggleClass("hidden",false);
        $("#div-row-etapas").toggleClass("hidden",true);
        /* Desabilita o formulário de cadastro de etapas */
        $("#fieldset-nova-etapa").prop("disabled",true)
        /* Requisita foco para o campo de nome da metodologia */
        $("#input-metodologia-nome").focus();
        /* Exibe tooltip do campo */
        $("#input-metodologia-nome").tooltip('show');
    }
    /* Previne a submissão do formulário */
    $("#form-metodologia").submit(function(){
        event.preventDefault();
    });

    /* Exibe o formulário de cadastro de etapas se não houverem etapas cadastradas */
    if(($("#div-menu-etapas").children().length) == 1){
        $("#collapse-cadastrar-etapa").toggleClass("in",true);
    }

    /* Ação de cadastro de metodologia (definição do nome) */
    $("#btn-nova-metodologia").click(function(){
        event.preventDefault();
        $("#div-input-metodologia-nome").toggleClass("has-danger",false);
        $("#input-metodologia-nome").toggleClass("form-control-danger",false);
        nome = $("#input-metodologia-nome").val();
        idm = $("#input-metodologia-id").val();
        if (idm == "") {
            endereco = "{% url 'metodologias:cadastrar_metodologia' %}";
        } else {
            endereco = "/metodologias/" + idm + "/atualizar-nome/";
        }
        if(!nome){
            $("#div-input-metodologia-nome").toggleClass("has-danger",true);
            $("#input-metodologia-nome").toggleClass("form-control-danger",true);
        }
        else {
            /* Realiza a requisição ajax para cadastro */
            $.ajax({
                type    : "POST",
                url     : endereco,
                data    : { 'nome' : nome,
                            'csrfmiddlewaretoken' : document.form_metodologia.csrfmiddlewaretoken.value,
                        },
                dataType: "json",
                encode  : true,

                beforeSend: function(){
                    $('#btn-nova-metodologia').html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;Processando');
                },
                success: function(data){
                    //Cria um log da data recebida no console
                    console.log(data);
                    //Verifica se a operação foi bem sucedida
                    $('#btn-nova-metodologia').html("<i class='fa fa-check'></i>");
                    if(data.sucesso)
                    {
                        $("#input-metodologia-id").val(data.metodologia_id);
                        $("#metodologia-nome").empty();
                        $("#metodologia-nome").append(nome);
                        $("#div-form-metodologia").toggleClass("hidden",true);
                        $("#div-metodologia-nome").toggleClass("hidden",false);
                        $("#div-row-info").toggleClass("hidden",true);
                        $("#div-row-etapas").toggleClass("hidden",false);
                        /* Habilita o formulário de cadastro de etapas */
                        $("#fieldset-nova-etapa").prop("disabled",false)
                        if(idm == ""){window.history.replaceState(null, null, "/metodologias/"+data.metodologia_id+"/")};                       
                    }
                }
            });
        }
    });

    /* Ação de edição de metodologia */
    $("#btn-edit-metodologia").click(function(){
        $("#div-metodologia-nome").toggleClass("hidden",true);
        $("#div-form-metodologia").toggleClass("hidden",false);
        /* Requisita foco para o campo de nome da metodologia */
        $("#input-metodologia-nome").focus();
        /* Exibe tooltip do campo */
        $("#input-metodologia-nome").tooltip('show');
    });

    /* Ação de cancelar edição ou cadastro de metodologia */
    $("#btn-cancela-metodologia").click(function(){
        if($("#input-metodologia-id").val() == ""){
            $(window.document.location).attr('href','/metodologias/');
        } else {
            $("#div-form-metodologia").toggleClass("hidden",true);
            $("#div-metodologia-nome").toggleClass("hidden",false);
        }
    });

      
    $("#li-menu-adicionar-etapa").click(function(){
        event.preventDefault();
        if(!$("#collapse-cadastrar-etapa").hasClass("in")){
            $("#collapse-cadastrar-etapa").collapse('toggle');
            $('html, body').animate({
                scrollTop: $("#collapse-cadastrar-etapa").offset().top
            }, 1000);
        }        
    });
    
    /* Ação de Cadastro de Etapa */
    $("#btn-nova-etapa").click(function(){
        /* Limpeza de estilos de validação */
        $("#div-input-etapa-nome").toggleClass("has-danger",false);
        $("#input-etapa-nome").toggleClass("form-control-danger",false);
        $("#div-etapa-nome-feedback").empty();
        /* Valor das propriedades de etapa */
        nome = $("#input-etapa-nome").val();
        descricao = $("#input-etapa-descricao").val();
        idm = $("#input-metodologia-id").val();
        endereco = "/metodologias/" + idm + "/cadastrar-etapa/";
        /* Verifica se o nome da etapa foi informado */
        if(!nome){
            /* Aplica estilos de aviso se o nome da etapa não foi informado */
            $("#div-input-etapa-nome").toggleClass("has-danger",true);
            $("#input-etapa-nome").toggleClass("form-control-danger",true);
            $("#div-etapa-nome-feedback").append("Informe o nome da etapa!");
        } else {
            /* Realiza a requisição ajax para cadastro */
            $.ajax({
                type    : "POST",
                url     : endereco,
                data    : { 'nome' : nome,
                            'descricao' : descricao, 
                            'csrfmiddlewaretoken' : document.form_etapa.csrfmiddlewaretoken.value,
                        },
                dataType: "json",
                encode  : true,

                beforeSend: function(){
                    $('#btn-nova-etapa').html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;Processando');
                },
                success: function(data){
                    //Cria um log da data recebida no console
                    console.log(data);
                    //Verifica se a operação foi bem sucedida
                    $('#btn-nova-etapa').html("Cadastrar Etapa");
                    if(data.sucesso)
                    {
                        ide = data.etapa_id;
                        if(descricao==""){
                            descricao = "<i>Nenhuma descrição fornecida para esta etapa!</i>";
                        }
                        /* Elemento HTML que representa o menu com link interno para etapa */
                        link_etapa = "<a href='#etapa_"+ide+"' class='list-group-item list-group-item-action' id='li-menu-etapa-"+nome+"'>"+nome+"</a>";
                        /* Limpa os campos do formulário de cadastro de etapas */
                        $("#input-etapa-nome").val("");
                        $("#input-etapa-descricao").val("");
                        /* Insere os elementos HTML no corpo */
                        $("#div-listagem-etapas").append(data.template);
                        //$("#div-menu-etapas").append(link_etapa);
                        $(link_etapa).insertBefore("#li-menu-adicionar-etapa")
                        $("#collapse-cadastrar-etapa").collapse('toggle');
                        /*
                        $("#li-menu-etapa-"+nome).on("click",function(){
                            //event.preventDefault();
                            //id = nome;
                            //alert(id);
                            //$('html, body').animate({
                            //    scrollTop: $("#"+nome).offset().top
                            //}, 1000);
                        });
                        */                                               
                    }
                }
            });
        }
    });

    /* Ação de cancelar cadastro de etapa */
    $("#btn-cancelar-etapa").click(function(){
        /* Limpeza do valor de campos */
        $("#input-etapa-nome").val("");
        $("#input-etapa-descricao").val("");
        /* Limpeza de estilos de validação */
        $("#div-input-etapa-nome").toggleClass("has-danger",false);
        $("#input-etapa-nome").toggleClass("form-control-danger",false);
        $("#div-etapa-nome-feedback").empty();
        /* Fecha o collapse */
        $("#collapse-cadastrar-etapa").collapse('toggle');
    });
});
function CadastrarAtividade(id_etapa){
    /* Limpeza de estilos de validação */
    $("#div-input-atividade-nome" + id_etapa).toggleClass("has-danger",false);
    $("#input-atividade-nome" + id_etapa).toggleClass("form-control-danger",false);
    $("#div-atividade-" + id_etapa + "-nome-feedback").empty();
    /* Valor das propriedades de etapa */
    nome = $("#input-atividade-nome" + id_etapa).val();
    descricao = $("#input-atividade-descricao" + id_etapa).val();
    idm = $("#input-metodologia-id").val();
    endereco = "/metodologias/" + idm + "/etapa/" + id_etapa + "/cadastrar-atividade/";
    /* Verifica se o nome da atividade foi informado */
    if(!nome){
        /* Aplica estilos de aviso se o nome da etapa não foi informado */
        $("#div-input-atividade-nome" + id_etapa).toggleClass("has-danger",true);
        $("#input-atividade-nome" + id_etapa).toggleClass("form-control-danger",true);
        $("#div-atividade-" + id_etapa + "-nome-feedback").append("Informe o nome da atividade!");
    } else {
        /* Realiza a requisição ajax para cadastro */
        $.ajax({
            type    : "POST",
            url     : endereco,
            data    : { 'nome' : nome,
                        'descricao' : descricao, 
                        'csrfmiddlewaretoken' : document.form_etapa.csrfmiddlewaretoken.value,
                    },
            dataType: "json",
            encode  : true,

            beforeSend: function(){
                $('#btn-nova-atividade' + id_etapa).html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;Processando');
            },
            success: function(data){
                //Cria um log da data recebida no console
                console.log(data);
                //Verifica se a operação foi bem sucedida
                $('#btn-nova-atividade' + id_etapa).html("Cadastrar Etapa");
                if(data.sucesso)
                {
                    ide = data.atividade_id;
                    if(descricao==""){
                        descricao = "<i>Nenhuma descrição fornecida para esta atividade!</i>";
                    }
                    /* Limpa os campos do formulário de cadastro de etapas */
                    $("#input-atividade-nome" + id_etapa).val("");
                    $("#input-atividade-descricao" + id_etapa).val("");
                    $("#row-nenhuma-etapa-aviso-" + id_etapa).empty();
                    /* Insere os elementos HTML no corpo */
                    //$("#div-listagem-atividades" + id_etapa).append("div_atividade");
                    $(data.template).insertBefore("#row-btn-nova-atividade" + id_etapa);
                    $("#CadastrarAtividade" + id_etapa).collapse('toggle');
                }
            }
        });
    }
}
function smoothScroll(target){
    event.preventDefault();
    //id = nome;
    //alert(id);
    $('html, body').animate({
        scrollTop: $("#"+target).offset().top
    }, 1000);
}
{% endblock %}
