{% extends 'designare/esqueleto.html' %}
{% block body %}
<div class="container">
    <div class="row m-t-3">
        <div class="col-md-1 offset-md-11">
            <div class="btn-group">
                <button
                    type="button"
                    class="btn btn-secondary border-square"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    data-tooltip="tooltip" data-placement="top" title="Menu"
                >
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu border-square">
                    <a class="dropdown-item" href="/">
                        <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Início
                    </a>
                    <a class="dropdown-item" href="/metodologias/">
                        <i class="fa fa-database" aria-hidden="true"></i>&nbsp;Metodologias
                    </a>
                    <a class="dropdown-item" href="/projetos/">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Projetos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 align="center">Designare</h1>
    </div>
    <div class="row m-y-1">
        <h2 align="center">{{ titulo_da_pagina }}</h2>
    </div>
    {% block subtitle_content %}
    {% endblock %}
    <div class="row">
        <hr>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" id="div-menu-etapas">
                <a href="#" class="list-group-item list-group-item-action list-group-item-info" id="li-menu-nenhuma-etapa">
                    Nenhuma etapa adicionada
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row col-md-11 offset-md-1" id="div-listagem-etapas">
                <!-- Inserir etapas aqui -->             
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <br>
                            <form 
                                action="{% url 'projetos:novo' %}" method="post"
                                enctype="multipart/form-data" id="form-novo-projeto"
                                id="form-etapa"
                            >
                                {% csrf_token %}
                                <div class="form-group" id="div-input-etapa-nome">
                                    <label><b>Nome</b></label>
                                    <div class="input-group">
                                        <span class="input-group-addon border-square">
                                            <i class="fa fa-tag"></i>
                                        </span>
                                        <input name="nome" 
                                            type="text"
                                            class="form-control border-square"
                                            placeholder="Nome da Etapa"
                                            id="input-etapa-nome" 
                                        >
                                    </div>
                                    
                                </div>
                                <label><b>Descrição</b></label>
                                <div class="input-group">
                                    <span class="input-group-addon border-square">
                                        <i class="fa fa-info"></i>
                                    </span>
                                    <textarea name="descricao" 
                                        class="form-control border-square"
                                        placeholder="Descrição da Etapa"
                                        rows="5"
                                        id="input-etapa-descricao"
                                    ></textarea>
                                </div>
                                <br>
                                <div align="center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-secondary" id="btn-nova-etapa">
                                            Cadastrar Etapa
                                        </button>
                                    </div>
                                </div>                                
                            </form>
                            </div>
                        </div>
                    </div>        
    </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascript_functions %}
$(document).ready(function(){
    $("#li-menu-nenhuma-etapa").click(function(){
        $("#input-etapa-nome").focus();
    });
    $("#btn-nova-etapa").click(function(){
        nome = $("#input-etapa-nome").val();
        descricao = $("#input-etapa-descricao").val();
        if(!nome){
            alert(vazio);
        } else {       
            div_etapa = "<div class='row'>"
                            + "<div class='row'>"
                                + "<div class='card card-outline-secondary border-square unbordered'>"
                                    + "<div class='card-block'>"
                                        + "<h3 class='card-title'>"+nome+"</h3>"
                                        + "<blockquote class='card-blockquote'>"
                                            + "<p>"+descricao+"</p>"
                                        + "</blockquote>"
                                    + "</div>"
                                + "</div>"
                            + "</div>"
                            + "<div class='row' id='div-etapa-{id}-atividades'>"
                                + "<!-- Inserir Atividades da Etapa aqui -->"
                            + "</div>"
                            + "<div class='row'>"
                                + "<div class='row'>"
                                    + "<form "
                                        + "class='col-md-7 offset-md-2'"
                                        + "action='{% url 'projetos:novo' %}' method='post'"
                                        + "enctype='multipart/form-data' id='form-nova-atividade'"
                                    + ">"
                                        + "{% csrf_token %}"
                                        + "<div class='form-group' id='div-input-etapa-nome'>"
                                            + "<label><b>Nome</b></label>"
                                            + "<div class='input-group'>"
                                                + "<span class='input-group-addon border-square'>"
                                                    + "<i class='fa fa-tag'></i>"
                                                + "</span>"
                                                + "<input name='nome'" 
                                                    + "type='text'"
                                                    + "class='form-control border-square'"
                                                    + "placeholder='Nome da Atividade'"
                                                    + "id='input-atividade-nome'"
                                                + ">"
                                            + "</div>"
                                        + "</div>"
                                        + "<label><b>Descrição</b></label>"
                                        + "<div class='input-group'>"
                                            + "<span class='input-group-addon border-square'>"
                                                + "<i class='fa fa-info'></i>"
                                            + "</span>"
                                            + "<textarea name='descricao'"
                                                + "class='form-control border-square'"
                                                + "placeholder='Descrição da Atividade'"
                                                + "rows='5'"
                                                + "id='input-atividade-descricao'"
                                            + "></textarea>"
                                        + "</div>"
                                        + "<br>"
                                        + "<div  align='center'>"
                                            + "<div class='btn-group' role='group'>"
                                                + "<button type='button' class='btn btn-secondary' id='btn-nova-atividade'>"
                                                    + "Cadastrar Atividade"
                                                + "</button>"
                                            + "</div>"
                                        + "</div>"
                                    + "</form>"
                                + "</div>";
                            + "</div>"                  
                        + "</div>"
                        + "<div class='clearfix'>"
                            + "<br><br><hr>"
                        + "</div>";
            link_etapa = "<a href='#' class='list-group-item list-group-item-action'>"+nome+"</a>";
            $("#li-menu-nenhuma-etapa").remove();
            $("#input-etapa-nome").val("");
            $("#input-etapa-descricao").val("");
            $("#div-listagem-etapas").append(div_etapa);
            $("#div-menu-etapas").append(link_etapa);
        }
    });
});
{% endblock %}
