{% extends "assets/esqueleto.html" %}
{% load designare_tags %}
{% block body %}
    {{ DESIGNARE_ASSETS_MANAGER |registerNamespace:'Designare.Utils.Forms' }}
    {{ DESIGNARE_ASSETS_MANAGER |registerNamespace:'Designare.Accounts.Profile' }}
    {% include "accounts/components/tabs.html" with active="profile" %}
    <div class="container mt-4">
        <div class="row">
            <div class="modal fade" id="modal-password-change-success" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content border-square">
                        <div class="modal-header">
                            <h4>Sua senha foi alterada com sucesso!</h4>
                        </div>
                        <div class="modal-body">
                            Alteramos sua senha conforme sua solicitação, porém precisamos que você autentique-se novamente para continuar utilizando o sistema.
                            <br>
                            Quando você estiver pronto(a) clique no botão abaixo para realizar a autenticação.
                        </div>
                        <div class="modal-footer text-md-center">
                            <a class="btn btn-success border-square" href="/accounts/my/profile/">
                                Ir para autenticação&nbsp;<i class="fa fa-sign-in"></i>
                            </a>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 
                            class="display-4"
                            style="border-bottom: 1px solid;">
                            Informações Pessoais
                        </h1>
                        <div class="collapse show" id="profile-personal-info">
                            <button 
                                class="btn btn-secondary border-square float-md-right" 
                                onclick="Designare.Accounts.Profile.EditPersonalInfo();"
                            >
                                <i class="fa fa-pencil"></i> Editar
                            </button>
                            <dl>
                                <dd class="mb-0">Nome</dd>
                                <dt class="mb-3" id="profile-first-name">{{ user.first_name }}</dt>
                                <dd class="mb-0">Sobrenome</dd>
                                <dt class="mb-3" id="profile-last-name">{{ user.last_name }}</dt>
                                <dd class="mb-0">E-mail</dd>
                                <dt class="mb-3" id="profile-email">{{ user.email }}</dt>
                            </dl>
                        </div>
                        <div class="collapse" id="profile-personal-info-form">
                            <form class="col-md-6 offset-md-3 my-1">
                                <fieldset id="profile-personal-info-fieldset">
                                    <div class="form-group" id="input-profile-first-name-group">
                                        <label for="" class="form-control-label">Nome</label>
                                        <input 
                                            type="text" maxlength="30" 
                                            class="form-control border-square" 
                                            id="input-profile-first-name" 
                                            placeholder="Informe seu(s) primeiro(s) nome(s)"
                                        >
                                    </div>
                                    <div class="form-group" id="input-profile-last-name-group">
                                        <label for="" class="form-control-label">Sobrenome</label>
                                        <input 
                                            type="text" maxlength="30" 
                                            class="form-control border-square" 
                                            id="input-profile-last-name" 
                                            placeholder="Informe seu(s) primeiro(s) nome(s)"
                                        >
                                    </div>
                                    <div class="form-group" id="input-profile-email-group">
                                        <label for="" class="form-control-label">E-mail</label>
                                        <input 
                                            type="email" 
                                            class="form-control border-square" 
                                            id="input-profile-email" 
                                            placeholder="Informe seu endereço de e-mail"
                                        >
                                        <small id="" class="form-text text-muted">
                                            Fique tranquilo, nunca compartilharemos seu e-mail com ninguém! :)
                                        </small>
                                    </div>
                                    <div class="text-md-center">
                                        <button 
                                            type="button" 
                                            class="btn btn-secondary border-square"
                                            onclick="Designare.Accounts.Profile.CancelEditPersonalInfo();"
                                        >
                                            <i class="fa fa-times"></i> Cancelar
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-success border-square"
                                            onclick="Designare.Accounts.Profile.UpdatePersonalInfo();"
                                            id="profile-personal-info-btn-update"
                                        >
                                            <i class="fa fa-check"></i> Atualizar
                                        </button>    
                                    </div>
                                </fieldset>
                            </form>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 
                            class="display-4"
                            style="border-bottom: 1px solid;">
                            Informações de Acesso
                        </h1>
                        <div class="collapse show" id="profile-password-btn">
                            <button 
                                class="btn btn-secondary border-square float-md-right"
                                onclick="Designare.Accounts.Profile.EditPassword();"
                            >
                                <i class="fa fa-key"></i> Alterar senha
                            </button>
                        </div>
                        <div class="collapse" id="profile-password-form">
                            <form class="col-md-6 offset-md-3 my-1">
                                <fieldset id="profile-password-fieldset">
                                    <div class="form-group" id="input-profile-current-password-group">
                                        <label for="input-profile-current-password" class="form-control-label">Senha atual</label>
                                        <input 
                                            type="password" 
                                            class="form-control border-square" 
                                            id="input-profile-current-password" 
                                            placeholder="Insira sua senha atual"
                                        >
                                    </div>
                                    <div class="form-group" id="input-profile-new-password-group">
                                        <label for="" class="form-control-label">Nova senha</label>
                                        <input 
                                            type="password" 
                                            class="form-control border-square" 
                                            id="input-profile-new-password" 
                                            placeholder="Insira a nova senha"
                                        >
                                    </div>
                                    <div class="form-group" id="input-profile-confirm-password-group">
                                        <label for="" class="form-control-label">Confirme a nova senha</label>
                                        <input 
                                            type="password" 
                                            class="form-control border-square" 
                                            id="input-profile-confirm-password" 
                                            placeholder="Redigite a nova senha"
                                        >
                                    </div>
                                    <div class="text-md-center">
                                        <button 
                                            type="button" 
                                            class="btn btn-secondary border-square"
                                            onclick="Designare.Accounts.Profile.CancelEditPassword();"
                                        >
                                            <i class="fa fa-times"></i> Cancelar
                                        </button>
                                        <button 
                                            type="button"
                                            id="profile-password-btn-update" 
                                            class="btn btn-success border-square"
                                            onclick="Designare.Accounts.Profile.UpdatePassword();" 
                                        >
                                            <i class="fa fa-check"></i> Atualizar
                                        </button>    
                                    </div>
                                </fieldset>
                            </form>                            
                            <div class="clearfix"></div>
                        </div>
                        <dl>
                            <dd class="mb-0">Nome de usuário</dd><dt class="mb-3">{{ user.username }}</dt>
                            <dd class="mb-0">Data do último login</dd><dt class="mb-3">{{ user.last_login }}</dt>
                            <dd class="mb-0">Data da criação da conta</dd><dt class="mb-3">{{ user.date_joined }}</dt>
                        </dl>
                    </div>
                </div>                
            </div>
        </div>        
    </div>
{% endblock %}