<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 mt-3">
            <div class="btn-group float-md-right" role="group">
                {% block menu_extra %}
                {% endblock %}
                <a 
                    href="/" class="btn btn-secondary border-square"
                    data-tooltip="tooltip" data-placement="top" title="Página Inicial"
                >
                    Designare
                </a>
                <div class="btn-group">
                    <button
                        type="button"
                        class="btn btn-secondary border-square"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        data-tooltip="tooltip" data-placement="top" title="Menu"
                    >
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right border-square">
                        <a class="dropdown-item" href="/metodologias/">
                            Metodologias&nbsp;<i class="fa fa-database" aria-hidden="true"></i>
                        </a>
                        <a class="dropdown-item" href="/projetos/">
                            Projetos&nbsp;<i class="fa fa-briefcase" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/logout/">
                            Sair&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/faq/">
                            Ajuda&nbsp;<i class="fa fa-question" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>