{% extends 'assets/esqueleto.html' %}
{% load designare_tags %}
{% block body_options %}
    style="position: relative;"
    data-spy="scroll" data-target="#list-group-stage-menu" data-offset="100"
{% endblock %}
{% block body %}
<div class="container">
    <div class="row my-2 {% if methodology %} d-none {% else %} d-flex {% endif %} justify-content-center " id="div-form-methodology">
        <div class="col-md-6 d-flex justify-content-center">
            <form id="form-methodology" name="form_methodology" onsubmit="event.preventDefault();" novalidate>
                <fieldset id="form-methodology-fieldset">
                    <input 
                        type="hidden" name="methodology_id" id="input-methodology-id" 
                        {% if methodology %}
                            value="{{ methodology.pk }}"
                        {% endif %}
                    />
                    <div class="form-group" id="div-input-methodology-name">
                        <label class="" for="input-methodology-name">
                            <b>Nome da metodologia:</b>&nbsp;
                        </label>
                        <input name="name" 
                            type="text" class="form-control border-square" required
                            placeholder="Minha Metodologia" id="input-methodology-name"
                            {% if methodology %}
                                value="{{ methodology.name }}"
                            {% endif %}
                        >
                        <div class="invalid-feedback">Informe um nome para a metodologia.</div>
                    </div>
                    <div class="form-group">
                        <button 
                            class="btn btn-secondary border-square" id="btn-methodology-cancel" type="button"
                            onclick="Designare.Methodologies.Methodology.BtnMethodologyCancelAction()"
                        >
                            <i class="fa fa-ban"></i>
                            <span id="btn-methodology-cancel-text">
                                {% if methodology %}
                                    Cancelar
                                {% else %}
                                    Cancelar e retornar
                                {% endif %}
                            </span>
                        </button>
                        <button
                            class="btn btn-primary border-square" id="btn-methodology-confirm" type="button"
                            onclick="Designare.Methodologies.Methodology.BtnMethodologyConfirmAction()"
                        >
                            <i class="fa fa-check"></i>
                            <span id="btn-methodology-confirm-text">
                                {% if methodology %}
                                    Atualizar
                                {% else %}
                                    Cadastrar
                                {% endif %}
                            </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div> 
    </div>
    <div class="row {% if methodology %} d-none {% else %} d-flex {% endif %} justify-content-center" id="div-methodology-new-info">
        <div class="col-md-6">
            <div class="card card-body border-info border-square">
                <h4>Nomeando sua nova metodologia</h4>
                <p class="card-text">
                    O nome da metodologia tem por objetivo destacar o processo encapsulado, logo tente escolher um nome relevante ao contexto.
                </p>                
            </div>
        </div>
    </div>    
    <div class="row mt-5 {% if not methodology %} d-none {% else %} d-flex {% endif %} justify-content-center" id="div-methodology-name">
        <h2>
            <span id="span-methodology-name">{% if methodology %}{{ methodology.name }}{% endif %}</span>
            <button 
                class="btn btn-light border-dark border-square" id="btn-methodology-edit"
                data-tooltip="tooltip" data-placement="top" title="Editar nome"
                onclick="Designare.Methodologies.Methodology.BtnMethodologyEditAction()"
            >
                <i class="fa fa-pencil"></i>
            </button>
        </h2>
    </div>
    
</div>
<div class="container">
    <div class="row m-0">
        {% include "utils/components/modal_ajax_feedback.html" %}
        {% include "methodologies/components/modal_methodology_object_delete.html" %}
    </div>
    <div class="row {% if not methodology %} d-none {% else %} d-flex {% endif %} my-2" id="div-row-stages">
        <div class="col-md-3" >
            <div class="list-group pt-3 sticky-top" id="list-group-stage-menu">
                <div class="pt-5"></div>
                <!-- Inserir links de etapas aqui -->
                {% if methodology.ordered_stages %}
                    {% for stage in methodology.ordered_stages %}
                        <a
                            href="#stage-{{ stage.pk }}" id="list-group-stage-item-{{ stage.pk }}"
                            class="list-group-item list-group-item-action border-square"
                        >
                            {{ stage.name }}
                        </a>
                    {% endfor %}
                {% endif%}
                <a 
                    class="list-group-item list-group-item-action border-square" id="list-group-stage-new"
                    href="#stage-new"
                >
                    <i class="fa fa-plus"></i> Adicionar etapa
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row pt-3">
                <div class="col-md-11 ml-auto" id="div-stages">
                    <!-- Inserir etapas aqui -->
                    {% if methodology %}
                        {% for stage in methodology.ordered_stages %}
                            {% include "methodologies/stage.html" with stage=stage %}
                        {% endfor %}
                    {% endif%}
                    <div id="stage-new" class="row">
                        <div class="col pt-5">
                            <div class="card border-square">
                                <div class="card-body">
                                    <h4 class="card-title">Adicionar etapa:</h4>
                                    <form id="form-stage-new" name="form_stage_new" novalidate>
                                        <fieldset id="fieldset-stage-new">
                                            {% csrf_token %}
                                            <div class="form-group" id="div-input-stage-name">
                                                <label for="input-stage-name">
                                                    <b>Nome</b>&nbsp;
                                                </label>
                                                <div class="input-group">
                                                    <input
                                                        name="name" type="text" class="form-control border-square"
                                                        placeholder="Minha Etapa" id="input-stage-name" required
                                                    >
                                                </div>
                                                <small class="form-text text-muted">Este campo é obrigatório!</small>
                                            </div>
                                            <label for="input-stage-description"><b>Descrição</b></label>
                                            <div class="mb-2">
                                                {% include "utils/components/editor-wysiwyg.html" with editor_id="input-stage-description" %}
                                                <small class="form-text text-muted">
                                                    Forneça uma descrição para auxiliar membros da equipe a identificar o propósito de cada etapa ou facilitar o aprendizado de novos membros.
                                                </small>
                                            </div>
                                            <div class="form-group d-flex justify-content-between">
                                                <button
                                                    type="button" class="btn btn-secondary border-square" id="btn-stage-new-cancel"
                                                    onclick="Designare.Methodologies.Stage.BtnStageNewCancelAction();"
                                                >
                                                    <i class="fa fa-ban"></i> Cancelar e limpar formulário
                                                </button>
                                                <button 
                                                    type="button" class="btn btn-primary border-square" id="btn-stage-new-confirm"
                                                    onclick="Designare.Methodologies.Stage.BtnStageNewConfirmAction();"
                                                >
                                                    <i class="fa fa-check"></i> Adicionar
                                                </button>
                                            </div>
                                        </fieldset>                                
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div> 
                </div>
            </div>           
        </div>
    </div>
</div>
{{ DESIGNARE_ASSETS_MANAGER |registerNamespace:'Designare.Utils.Forms' }}
{{ DESIGNARE_ASSETS_MANAGER |registerNamespace:'Designare.Methodologies.Methodology' }}
{{ DESIGNARE_ASSETS_MANAGER |registerNamespace:'Designare.Methodologies.Stage' }}
{% endblock %}
{% block javascript_functions %}
    Designare.Utils.Editor_WYSIWYG.ActivateAll();
{% endblock %}
