{% extends 'projetos/base.html' %}
{% block subtitle_content %}
<div class="row my-2" align="center">
    <div id="div-btn-form-projeto" class="collapse in">
        <button 
            class="btn btn-secondary btn-circle" 
            alt="Adicionar novo projeto"
            id="btn-novo-projeto"
            data-toggle="collapse"
            href="#div-form-novo-projeto"
            data-tooltip="tooltip" data-placement="top" title="Adicionar Novo Projeto"
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="collapse" id="div-form-novo-projeto">
    <div class="row" align="center">
        <div class="col-md-6 offset-md-3">
            <div>
                <form 
                    action="{% url 'projetos:novo' %}" method="post"
                    enctype="multipart/form-data" id="form-novo-projeto"
                >
                    {% csrf_token %}
                    <div class="form-group" id="div-input-projeto-nome">
                        <div class="input-group">
                            <span class="input-group-addon border-square">
                                <i class="fa fa-tag"></i>
                            </span>
                            <input name="nome" 
                                type="text"
                                class="form-control border-square"
                                placeholder="Título do Projeto"
                                id="input-projeto-nome" 
                            >
                        </div>
                        <div class="form-control-feedback text-md-left invisible" id="div-projeto-nome-txt">
                            Este campo é obrigatório!
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon border-square">
                            <i class="fa fa-info"></i>
                        </span>
                        <textarea name="descricao" 
                            class="form-control border-square"
                            placeholder="Descrição do Projeto"
                            rows="5"
                        ></textarea>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon border-square">
                            <i class="fa fa-database"></i>
                        </span>
                        <select class="form-control border-square" id="select-metodologia" name="metodologia">
                            {% if metodologias %}
                                <optgroup label="Selecionar mais tarde">
                                    <option value="0">Não aplicar nenhuma metodologia agora</option>
                                </optgroup>
                                <optgroup label="Selecione uma metodologia">
                                    {% for metodologia in metodologias %}
                                        <option value="{{ metodologia.pk }}">{{ metodologia.nome }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% else %}
                                <option value="0">Nenhuma metodologia cadastrada</option>
                            {% endif %}
                        </select>
                    </div>
                    <br>
                    <div class="input-group text-md-left">
                        <span class="input-group-addon border-square">
                            <i class="fa fa-picture-o"></i>
                        </span>
                        <input type="file" name="capa" class="form-control border-square">
                    </div>
                </form>
                <div class="my-1" align="center">
                    <button 
                        class="btn btn-danger border-square"
                        alt="Adicionar novo projeto"
                        id="btn-cancelar-novo-projeto"
                        data-toggle="collapse"
                        href="#div-form-novo-projeto"
                    >
                        Cancelar
                    </button>
                    <button
                        class="btn btn-success border-square"
                        alt="Adicionar novo projeto"
                        id="btn-adicionar-novo-projeto"
                    >
                        Adicionar Projeto
                    </button>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="modal fade" id="modal-excluir-projeto" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content border-square" id="modal-excluir-projeto-conteudo">
                        <div class="modal-header">
                            <h4>Confirmar exclusão de projeto:</h4>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir o projeto <b id="modal-excluir-projeto-nome"></b>?
                        </div>
                        <div class="modal-footer">
                            <button 
                                class="btn btn-info float-md-left border-square" 
                                data-dismiss="modal" id="btn-cancelar-exclusao"
                            >
                                <i class="fa fa-ban"></i>&nbsp;Cancelar
                            </button>
                            <a class="btn btn-danger border-square" id="btn-excluir-projeto">
                                <i class="fa fa-times"></i>&nbsp;Excluir
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-info-editar" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content border-square" id="modal-info-editar-conteudo">
                        <div class="modal-header">
                            <h4>Informações do projeto <span id="modal-projeto-nome"></span></h4>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <div class="modal-footer">
                            <button 
                                class="btn btn-info float-md-left border-square" 
                                data-dismiss="modal" id="btn-cancelar-exclusao"
                            >
                                <i class="fa fa-ban"></i>&nbsp;Cancelar
                            </button>
                            <a class="btn btn-danger border-square" id="btn-excluir-projeto">
                                <i class="fa fa-times"></i>&nbsp;Excluir
                            </a>
                        </div>
                    </div>
                </div>                      
            </div>
        </div>
        <div class="row my-2">
            <h3>Em execução</h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-outline-secondary text-xs-center border-square">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p>Nenhum projeto em execução no momento!</p>
                        </blockquote>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-2">
            <h3>Em espera</h3>
        </div>
        {% if projetos_espera %}
                {% for projeto in projetos_espera %}
                    {% include "projetos/card_projeto.html" with projeto=projeto %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="card card-outline-secondary text-xs-center border-square">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Nenhum projeto em espera no momento!</p>
                                </blockquote>
                            </div>
                        </div>                
                    </div>
                </div>
            {% endif %}
    </div>
    <div class="container">
        <div class="row my-2">
            <h3>Definidos</h3>
        </div>
        <div class="">
            {% if projetos_definidos %}
                {% for projeto in projetos_definidos %}
                    {% include "projetos/card_projeto.html" with projeto=projeto %}
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="card card-outline-secondary text-xs-center border-square">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>Nenhum projeto definido no momento!</p>
                                </blockquote>
                            </div>
                        </div>                
                    </div>
                </div>
            {% endif %}                
        </div>
    </div>
    <div class="container">
        <div class="row my-2">
            <h3>Concluídos</h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-outline-secondary text-xs-center border-square">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p>Nenhum projeto concluído no momento!</p>
                        </blockquote>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript_functions %}
    $(document).ready(function(){
        $("#btn-novo-projeto").click(function(){
           $("#div-btn-form-projeto").collapse('toggle');
           $("#btn-cancelar-novo-projeto").toggleClass('hidden',false);
           $("#btn-adicionar-novo-projeto").toggleClass('hidden',false);
        });
        
        $("#btn-cancelar-novo-projeto").click(function(){
            /* Limpa estilos de erro */
            $('#div-input-projeto-nome').toggleClass('has-danger',false);
            $('#input-projeto-nome').toggleClass('form-control-danger',false);
            $('#div-projeto-nome-txt').toggleClass('invisible',true);
            /* Limpa campos */
            document.getElementById("form-novo-projeto").reset();
            /* Exibe linha (row) do botão de adicionar novo projeto */ 
            $("#div-btn-form-projeto").collapse('toggle');
        });

        $("#btn-adicionar-novo-projeto").click(function(){
            $('#div-input-projeto-nome').toggleClass('has-danger',false);
            $('#input-projeto-nome').toggleClass('form-control-danger',false);
            $('#div-projeto-nome-txt').toggleClass('invisible',true);
            if($('#input-projeto-nome').val() == ""){
                $('#div-input-projeto-nome').toggleClass('has-danger',true);
                $('#input-projeto-nome').toggleClass('form-control-danger',true);
                $('#div-projeto-nome-txt').toggleClass('invisible',false);
            }
            else{
                $("#form-novo-projeto").submit();
            }
        });
    });
    function ExcluirProjeto(id_projeto,nome){
        $("#btn-excluir-projeto-"+id_projeto).tooltip('hide');
        $("#modal-excluir-projeto").modal('show');
        $("#modal-excluir-projeto-nome").html(nome);
        $("#btn-excluir-projeto").attr("href", "/projetos/"+id_projeto+"/excluir-projeto/");
    }
{% endblock %}