{% extends 'projetos/base.html' %}
{% block subtitle_content %}
<div class="row m-y-2" align="center">
    
    <div class="div-btn-form-projeto">
        <button 
            class="btn btn-secondary btn-circle" 
            alt="Adicionar novo projeto"
            id="btn-novo-projeto"
            data-toggle="collapse"
            href="#div-form-novo-projeto"
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button 
            class="btn btn-danger btn-circle hidden"
            alt="Adicionar novo projeto"
            id="btn-cancelar-novo-projeto"
            data-toggle="collapse"
            href="#div-form-novo-projeto" 
        >
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <button
            class="btn btn-success btn-circle hidden"
            alt="Adicionar novo projeto"
            id="btn-adicionar-novo-projeto"
        >
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="collapse" id="div-form-novo-projeto">
    <div class="row" align="center">
        <div class="col-md-6 offset-md-3">
            <div>
                <form>
                    <div class="input-group">
                        <span class="input-group-addon border-square" id="basic-addon1">
                            <i class="fa fa-tag"></i>
                        </span>
                        <input type="text" class="form-control border-square" placeholder="Título do Projeto">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon border-square" id="basic-addon1">
                            <i class="fa fa-info"></i>
                        </span>
                        <textarea 
                            class="form-control border-square"
                            placeholder="Descrição do Projeto"
                            rows="5"
                        ></textarea>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon border-square" id="basic-addon1">
                            <i class="fa fa-database"></i>
                        </span>
                        <select class="form-control border-square">
                            <option>Metodologia do Projeto</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
            <div class="row m-y-2">
                <h3>Em execução</h3>
            </div>
            <div class="row">                
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m-y-2">
                <h3>Aguardando</h3>
            </div>
            <div class="row">                
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-square">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg?2016-9-18" class="card-mg-top" width="100%" height="100%">
                        <a class="btn btn-secondary card-block btn-block border-square">
                            <b>Projeto X</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}
{% block javascript_functions %}
    $(document).ready(function(){
        $("#btn-novo-projeto").click(function(){
           $("#btn-novo-projeto").toggleClass('hidden',true);
           $("#btn-cancelar-novo-projeto").toggleClass('hidden',false);
           $("#btn-adicionar-novo-projeto").toggleClass('hidden',false);
        });
        $("#btn-cancelar-novo-projeto").click(function(){
           $("#btn-novo-projeto").toggleClass('hidden',false);
           $("#btn-cancelar-novo-projeto").toggleClass('hidden',true);
           $("#btn-adicionar-novo-projeto").toggleClass('hidden',true);
        });
    });
{% endblock %}