{% extends 'projetos/base.html' %}
{% block subtitle_content %}
<div class="row my-2" align="center">
    
    <div class="div-btn-form-projeto">
        <button 
            class="btn btn-secondary btn-circle" 
            alt="Adicionar novo projeto"
            id="btn-novo-projeto"
            data-toggle="collapse"
            href="#div-form-novo-projeto"
            data-tooltip="tooltip" data-placement="top" title="Adicionar Novo Projeto"
        >
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button 
            class="btn btn-danger btn-circle hidden"
            alt="Adicionar novo projeto"
            id="btn-cancelar-novo-projeto"
            data-toggle="collapse"
            href="#div-form-novo-projeto"
            data-tooltip="tooltip" data-placement="top" title="Cancelar"                
        >
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <button
            class="btn btn-success btn-circle hidden"
            alt="Adicionar novo projeto"i
            id="btn-adicionar-novo-projeto"
            data-tooltip="tooltip" data-placement="top" title="Cadastrar Projeto"
        >
            <i class="fa fa-check" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="collapse" id="div-form-novo-projeto">
    <div class="row" align="center">
        <div class="col-md-6 offset-md-3">
            <div>
                <form 
                    action="{% url 'projetos:novo' %}" method="post"
                    enctype="multipart/form-data" id="form-novo-projeto"
                >
                    {% csrf_token %}
                    <div class="form-group" id="div-input-projeto-nome">
                        <div class="input-group">
                            <span class="input-group-addon border-square">
                                <i class="fa fa-tag"></i>
                            </span>
                            <input name="nome" 
                                type="text"
                                class="form-control border-square"
                                placeholder="Título do Projeto"
                                id="input-projeto-nome" 
                            >
                        </div>
                        <div class="form-control-feedback text-md-left invisible" id="div-projeto-nome-txt">
                            Este campo é obrigatório!
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon border-square">
                            <i class="fa fa-info"></i>
                        </span>
                        <textarea name="descricao" 
                            class="form-control border-square"
                            placeholder="Descrição do Projeto"
                            rows="5"
                        ></textarea>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon border-square">
                            <i class="fa fa-database"></i>
                        </span>
                        <select class="form-control border-square" id="select-metodologia" name="metodologia">
                            {% if metodologias %}
                                <optgroup label="Selecionar mais tarde">
                                    <option value="0">Não aplicar nenhuma metodologia agora</option>
                                </optgroup>
                                <optgroup label="Selecione uma metodologia">
                                    {% for metodologia in metodologias %}
                                        <option value="{{ metodologia.pk }}">{{ metodologia.nome }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% else %}
                                <option value="0">Nenhuma metodologia cadastrada</option>
                            {% endif %}
                        </select>
                    </div>
                    <br>
                    <div class="input-group text-md-left">
                        <span class="input-group-addon border-square">
                            <i class="fa fa-picture-o"></i>
                        </span>
                        <input type="file" name="capa" class="form-control">
                    </div>
                </form>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row my-2">
            <h3>Em execução</h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-outline-secondary text-xs-center border-square">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p>Nenhum projeto em execução no momento!</p>
                        </blockquote>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-2">
            <h3>Em espera</h3>
        </div>
        {% if projetos_espera %}
                {% for projeto in projetos_espera %}
                    <div class="col-md-4">
                        <div class="row m-0">
                            <div class="card border-square mb-0">
                                <img src="/{{ projeto.imagem_capa }}" class="card-img border-square" width="100%" height="100%">
                                <div class="card-img-overlay">
                                    <div class="float-md-right">
                                        <a 
                                            href="{% url 'projetos:excluir_projeto' projeto.pk %}" class="btn btn-danger btn-sm"
                                            data-tooltip="tooltip" data-placement="top" title="Excluir"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="card border-square">
                                <a 
                                    class="btn btn-secondary card-block btn-block border-square" 
                                    href="{% url 'projetos:detalhes' projeto.pk %}"
                                >
                                    <b>{{ projeto.nome }}</b>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="col-md-5">
                    <div class="card card-outline-secondary text-xs-center border-square">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Nenhum projeto em espera no momento!</p>
                            </blockquote>
                        </div>
                    </div>                
                </div>
            </div>
            {% endif %}
    </div>
    <div class="container">
        <div class="row my-2">
            <h3>Definidos</h3>
        </div>
        <div class="row">
            {% if projetos_definidos %}
                {% for projeto in projetos_definidos %}
                    <div class="col-md-4">
                        <div class="row m-0">
                            <div class="card border-square mb-0">
                                <img src="/{{ projeto.imagem_capa }}" class="card-img border-square" width="100%" height="100%">
                                <div class="card-img-overlay">
                                    <div class="float-md-right">
                                        <a 
                                            href="{% url 'projetos:excluir_projeto' projeto.pk %}" class="btn btn-danger btn-sm"
                                            data-tooltip="tooltip" data-placement="top" title="Excluir"
                                        >
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="card border-square">
                                <a 
                                    class="btn btn-secondary card-block btn-block border-square" 
                                    href="{% url 'projetos:detalhes' projeto.pk %}"
                                >
                                    <b>{{ projeto.nome }}</b>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="col-md-5">
                    <div class="card card-outline-secondary text-xs-center border-square">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Nenhum projeto definido no momento!</p>
                            </blockquote>
                        </div>
                    </div>                
                </div>
            </div>
            {% endif %}                
        </div>
    </div>
    <div class="container">
        <div class="row my-2">
            <h3>Concluídos</h3>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-outline-secondary text-xs-center border-square">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p>Nenhum projeto concluído no momento!</p>
                        </blockquote>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript_functions %}
    $(document).ready(function(){
        $("#btn-novo-projeto").click(function(){
           $("#btn-novo-projeto").toggleClass('hidden',true);
           $("#btn-cancelar-novo-projeto").toggleClass('hidden',false);
           $("#btn-adicionar-novo-projeto").toggleClass('hidden',false);
        });
        
        $("#btn-cancelar-novo-projeto").click(function(){
           $("#btn-novo-projeto").toggleClass('hidden',false);
           $("#btn-cancelar-novo-projeto").toggleClass('hidden',true);
           $("#btn-adicionar-novo-projeto").toggleClass('hidden',true);
        });

        $("#btn-adicionar-novo-projeto").click(function(){
            $('#div-input-projeto-nome').toggleClass('has-danger',false);
            $('#input-projeto-nome').toggleClass('form-control-danger',false);
            $('#div-projeto-nome-txt').toggleClass('invisible',true);
            if($('#input-projeto-nome').val() == ""){
                $('#div-input-projeto-nome').toggleClass('has-danger',true);
                $('#input-projeto-nome').toggleClass('form-control-danger',true);
                $('#div-projeto-nome-txt').toggleClass('invisible',false);
            }
            else{
                $("#form-novo-projeto").submit();
            }
        });

        
    });
{% endblock %}