{% extends 'projetos/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="modal fade" id="modal-adicionar-recurso" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content border-square" id="modal-excluir-etapa-conteudo">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>Selecione o recurso para adicionar a atividade:</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            {% for recurso in recursos %}
                                {{ recurso.carrega_propriedades }}
                                <a href="#" class="list-group-item list-group-item-action unbordered">
                                    <h5 class="list-group-item-heading">{{ recurso.nome }}</h5>
                                    <p class="list-group-item-text">{{ recurso.descricao }}</p>                                  
                                </a>
                            {% endfor %}                            
                        </ul>
                    </div>
                    <div class="modal-footer hidden">
                        <form>
                            <fieldset id="fieldset-excluir-etapa-footer">
                                <button 
                                    class="btn btn-info float-md-left border-square" 
                                    data-dismiss="modal" id="btn-cancelar-recurso"
                                >
                                    <i class="fa fa-ban"></i>&nbsp;Cancelar
                                </button>
                                <button class="btn btn-danger border-square" id="btn-excluir-etapa">
                                    <i class="fa fa-times"></i>&nbsp;Excluir
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
    <div class="row" id="div-row-etapas">
        <div class="col-md-3" style="position: relative;">
            <div class="list-group" id="div-menu-etapas">
                <!-- Inserir links de etapas aqui -->
                {% if projeto.metodologia.etapas.all %}
                    {% for etapa in projeto.metodologia.etapas.all %}
                        <a
                            href="#etapa_{{ etapa.id }}" id="li-menu-etapa-{{ etapa.id }}"
                            class="list-group-item list-group-item-action"
                        >
                            {{ etapa.nome }}
                        </a>
                    {% endfor %}
                {% endif%}
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {% if projeto.metodologia.etapas.all %}
                        {% for etapa in projeto.metodologia.etapas.all %}
                            <div class="row">
                                <div class="col-md-12">
                                    <a id='etapa_{{ etapa.id }}'></a>
                                    <div class="card unbordered">
                                        <div class="card-block">
                                            <h2 class="card-title">{{ etapa.nome }}</h2>                                         
                                            <hr class="mb-0">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 offset-md-1">
                                                {% if etapa.atividades.all %}
                                                    {% for atividade in etapa.atividades.all %}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="card unbordered">
                                                                    <div class="card-block pt-0">
                                                                        <h3>
                                                                            {{ atividade.nome}}
                                                                        </h3>
                                                                        <hr class="">
                                                                        <button 
                                                                            class='btn btn-secondary border-square offset-md-1' 
                                                                            id="btn-adiciona-recurso-{{ atividade.pk }}"
                                                                            data-tooltip="tooltip" data-placement="top"
                                                                            title="Adicionar recurso"
                                                                            onclick="AdicionarRecurso('{{ atividade.pk }}');"  
                                                                        >
                                                                            Adicionar recurso <i class="fa fa-plus"></i>
                                                                        </button>
                                                                    </div>   
                                                                </div>                                        
                                                            </div>                                                            
                                                        </div>                              
                                                    {% endfor %}
                                                {% endif %}                                       
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>
                        {% endfor %}
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript_functions %}
    function AdicionarRecurso(id_atividade){
        $("#btn-adiciona-recurso-"+id_atividade).tooltip('hide');
        $("#modal-adicionar-recurso").modal('show');
    }
{% endblock %}
