<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs border-square">
                <li class="nav-item">
                    <a 
                        href="/accounts/my/profile" 
                        class="nav-link {% if active == "profile" %}active{% endif %}"
                    ><i class="fa fa-user"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a 
                        href="/accounts/my/contacts" 
                        class="nav-link {% if active == "contacts" %}active{% endif %}"
                    ><i class="fa fa-address-book-o"></i> Contatos</a>
                </li>
                <li class="nav-item">
                    <a 
                        href="/accounts/my/profile" 
                        class="nav-link"
                    ><i class="fa fa-users"></i> Grupos</a>
                </li>
                <li class="nav-item">
                    <a 
                        href="/accounts/my/profile" 
                        class="nav-link"
                    ><i class="fa fa-cogs"></i> Configurações</a>
                </li>   
            </ul>
        </div>
    </div>
</div>